# ========================
# Gradle
# ========================
.gradle/
build/
out/

# ========================
# Compilados locais
# ========================
bin/

# ========================
# Fabric / Loom runtime
# ========================
run/

# ========================
# IDEs
# ========================
.idea/
*.iml
.vscode/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Java crash logs
# ========================
hs_err_pid*

# ========================
# Env / secrets (caso use)
# ========================
.env
